WebApplicationGail/Service References/GailService/GailModel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cdssgailmodel.com/webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cdssgailmodel.com/webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cdssgailmodel.com/webservice">
      <s:element name="CalculateProbability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="r1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="r2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateProbabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateProbabilityResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agecat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agemen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ageflb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nbiops" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numrel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ah" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateRRResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateProbabilitySoapIn">
    <wsdl:part name="parameters" element="tns:CalculateProbability" />
  </wsdl:message>
  <wsdl:message name="CalculateProbabilitySoapOut">
    <wsdl:part name="parameters" element="tns:CalculateProbabilityResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateRRSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateRR" />
  </wsdl:message>
  <wsdl:message name="CalculateRRSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateRRResponse" />
  </wsdl:message>
  <wsdl:portType name="GailModelSoap">
    <wsdl:operation name="CalculateProbability">
      <wsdl:input message="tns:CalculateProbabilitySoapIn" />
      <wsdl:output message="tns:CalculateProbabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRR">
      <wsdl:input message="tns:CalculateRRSoapIn" />
      <wsdl:output message="tns:CalculateRRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GailModelSoap" type="tns:GailModelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateProbability">
      <soap:operation soapAction="http://cdssgailmodel.com/webservice/CalculateProbability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRR">
      <soap:operation soapAction="http://cdssgailmodel.com/webservice/CalculateRR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GailModelSoap12" type="tns:GailModelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateProbability">
      <soap12:operation soapAction="http://cdssgailmodel.com/webservice/CalculateProbability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRR">
      <soap12:operation soapAction="http://cdssgailmodel.com/webservice/CalculateRR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GailModel">
    <wsdl:port name="GailModelSoap" binding="tns:GailModelSoap">
      <soap:address location="http://localhost:53767/GailModel.asmx" />
    </wsdl:port>
    <wsdl:port name="GailModelSoap12" binding="tns:GailModelSoap12">
      <soap12:address location="http://localhost:53767/GailModel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>